body {
  margin: 20px 40px;
}

p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 16px;
}

/*--- This is the CSS class for the green rectangular blocks. Note that it uses display: flex ---*/

.wrapper {
  display: flex;
  height: 60px;
  background-color: green;
  margin-bottom: 20px;
}

/*--- flex: 1 makes it so that the div takes up all available space left in the parent element ---*/

.redExample {
  flex: 1;
  background-color: red;
}

/*--- Since both .redExample and .blueExample have flex: 1, they will take up an equal amount of space because they meet in the middle ---*/

.blueExample {
  flex: 1;
  background-color: blue;
}

/*--- flex-direction: row-reverse orders all child elements starting from right to left ---*/

.emptyExample2 {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}

.blueExample2 {
  width: 80px;
  background-color: blue;
}

/* TODO: Add CSS for the rest of your solution below */

.row3 {
  justify-content: space-between;
}

.r3-red {
  width: 80px;
  background-color: red;
}

.r3-blue {
  width: 80px;
  background-color: blue;
}

.row4 {
  background-color: transparent;
}

.r4-red {
  flex: 1;
  background-color: red;
}

.r4-blue {
  width: 80px;
  background-color: blue;
}

.row5 {
  justify-content: center;
  align-items: center;
}

.r5-square {
  width: 40px;
  height: 40px;
  background-color: red;
}

.row6 {
  background-color: transparent;
}

.r6-red {
  flex: 1;
  background-color: red;
}

.r6-blue {
  width: 80px;
  background-color: blue;
}

.row7 {
  background-color: transparent;
}

.r7-red {
  width: 80px;
  background-color: red;
}

.r7-blueContainer {
  flex: 1;
  background-color: blue;
  display: flex;
  align-items: center;
}

.r7-greenStripe {
  width: 100%;
  height: 14px;
  background-color: green;
}

.row8 {
  background-color: transparent;
}

.r8-orange {
  width: 80px;
  background-color: orange;
}

.r8-green {
  flex: 1;
  background-color: green;
}

.row9 {
  background-color: transparent;
}

.r9-orange {
  flex: 1;
  background-color: orange;
}

.r9-gap {
  width: 20px;
  background-color: green;
}